.feature {
  display: grid;
  align-items: center;
  grid-gap: 20px;
  
  &.left {
    grid-template-columns: 1fr 5fr;
  }

  &.right {
    grid-template-columns: 5fr 1fr;
    text-align: right;
  }

  &-icon {
    font-size: 100px;
    width: 100px;
    height: 100%;
    color: #B9B9B9;
  }

  &-title {
    font-size: 16px;
  }

  &-text {
    font-size: 14px;
    color: #B9B9B9;
    font-family: 'Montserrat', sans-serif;
  }

  &.right &-text {
    padding-left: 125px;
  }

  &.left &-text {
    padding-right: 125px;
  }
}