mat-progress-bar {
  position: fixed;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1E457C;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-background {
  fill: transparent;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background: transparent;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}