@import '~@angular/material/theming';
@import '../../../theme';

header {
  background: rgb(32,36,53);
  background: linear-gradient(0deg, rgba(32,36,53,1) 0%, rgba(44,52,74,1) 90%);
  height: 406px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.caption {
  font-size: 0.6rem;
  color: #747474;
  display: inline-block;
  margin-bottom: -150px;

  a {
    color: lighten(#747474, 7);
    &:hover { text-decoration: underline; }
  }
}

.auth-card {
  background-color: mat-color($custom-theme-accent);
  color: black;
  text-align: center;
  width: 210px;
  max-height: 250px;
  font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
  line-height: 100%;
  border-radius: 32px;

  &-divider {
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-link {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
  }
}

.container:last-of-type {
  padding-top: 45px;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 3fr;
  justify-items: end;
}