<div [class]="layout$ | async">
  <header>
    <div>
      <h3 (click)="toggleActive()" class="title">{{ title }}</h3>
      <a (click)="toggleActive()" *ngIf="active && ((layout$ | async) === 'grid')" mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </a>
    </div>
    <h5 class="sub-title">Price per month: {{ price | currency }}</h5>
  </header>
  <div class="fields">
    <ul>
      <li *ngFor="let field of (active ? fields : previewFields)">{{ field | fieldToWord }}: {{ data[field] }}</li>
      <li class="more" *ngIf="getRemainingFields() && !active" (click)="toggleActive()">{{ getRemainingFields() }}+</li>
    </ul>
  </div>
  
  <ng-container *ngIf="active">
    <mat-divider></mat-divider>
    <div class="buttons">
      <a (click)="toggleActive()" *ngIf="active && ((layout$ | async) === 'list')" mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </a>
      <div *ngIf="userIsLoggedIn; else userNotLoggedIn">
        <a mat-button color="accent" (click)="active = true;" >buy</a>
        <a mat-button color="primary" (click)="active = true;">add to cart</a>
      </div>
  
      <ng-template #userNotLoggedIn>
        <p>Please <a href="">Login</a> or <a href="">Sign up</a> to buy this product</p>
      </ng-template>
    </div>
  </ng-container>
</div>