@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat Alternates', sans-serif; }

html { font-size: 24px; }

body { background-color: #202435; }

.page-title {
  font-size: 60px;
  color: #676E85;
}